*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --black: #181719;
  --white: #ffffff;
  --gray: #828282;
  --lightgray: #a9a9a9;
}

h1,
h2,
h3,
body,
p {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
  background-color: var(--black);
}

/* font-family: 'Crimson Pro', serif; [Logo 200]

font-family: 'Lora', serif; [500 - designed when]

font-family: 'Montserrat', sans-serif;  [700 - footer, navs  : 400 - body text]*/

body {
  font-family: "Montserrat", sans-serif;
  font-size: 400;
  color: var(--white);
  background-color: var(--black);
}

/* Material Icons */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  color: var(--white);
  font-size: 2rem;
  transition: opacity, scale 200ms ease-in-out;
}

header,
main,
footer {
  width: min(1200px, 100vw - 2rem);
  margin-inline: auto;
}

header nav,
header nav .navs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1,
.designer__text {
  font-family: "Lora", serif;
}

header nav {
  padding-block: 1.3rem;
}

header nav .navs {
  gap: 2rem;
}

header nav .navs li > a {
  font-size: 1.125rem;
  color: var(--white);
  opacity: 0.6;
  padding-block-end: 0.5rem;
  transition: opacity, border 200ms ease-in-out;
}
header nav .navs li > a:hover {
  opacity: 1;
  border-bottom: 2px solid var(--white);
}

.logo {
  font-family: "Crimson Pro", serif;
  text-transform: uppercase;
  padding: 0.5rem;
  border: 1px solid var(--white);
  font-size: 0.875rem;
}

.hamburger span:hover {
  opacity: 0.95;
  scale: 1.3;
}

.main__content h1 {
  font-weight: 500;
  font-size: clamp(2.25rem, 4vw + 1rem, 3rem);
  padding-block-end: 0.5rem;
}

.main__text {
  padding-block: 1rem;
  font-size: clamp(0.875rem, 3vw, 1.5rem);
  line-height: 1.5;
  width: 60%;
}

@media screen and (width > 500px) {
  .hamburger {
    display: none;
  }
}
@media screen and (width > 700px) {
  main {
    display: flex;
    align-items: center;
  }
}

@media screen and (width < 500px) {
  header nav .navs {
    display: none;
    place-content: center;
    flex-direction: column;
    z-index: 10;
    position: absolute;
    inset: 0 0 0 0;
    background-color: var(--black);
    transition: all 300ms ease-in;
  }

  .hamburger {
    z-index: 1000;
  }
}
